@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');

.frontimg {
    width: 100%;
}

.art,
.artp {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.art1,
.artp6 {
    width: 100%;
}

.art2 {
    width: 56%;
}

.art3 {
    width: 39%;
}

.art4,
.artp1 {
    display: none;
}

.artp2 {
    width: 33%;
}

.artp3 {
    width: 46%;
}

.artp4 {
    width: 47.7%;
}

.artp5 {
    width: 26%;
}

h1,
h2 {
    color: #FFF;
    font-family: 'Satisfy', cursive;
}

h2 {
    font-size: 120%;
}

html {
    background-color: #0F1F38;
}

header {
    background-color: #FFF;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
}

input,
textarea {
    font-family: 'Roboto', sans-serif;
    height: 20px;
    width: 50%;
    padding: 0.5%;
}

input:invalid {
    background-color: pink;
}

textarea {
    height: 300px;
    resize: vertical;
}

.media {
    width: 50px;
}

nav {
    background-color: #8E7970;
    color: #FFF;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    float: right; 
    padding: 1%;
    margin: 4%;
    width: 300px;
}

nav a {
    color: #FFF;
    font-weight: bold;
    padding: 1% 3%;
    text-decoration-line: none;
}

nav a:hover {
    background-color: #E0BFB1;
    color: #63554E;
}

.logo {
    float: left;
    width: 10%;
    padding-left: 2%;
}

p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.arttype {
    width: 30%;
}

.art1,
.art2,
.art3,
.art4,
.artp1,
.artp2,
.artp3,
.artp4,
.artp5,
.artp6,
.arttype {
    border: 3px solid #8E7970;
}

@media only screen and (max-width: 768px) {
    
    nav {
        font-size: 90%;
        margin: 3%;
        width: 250px;
    }
    
    input,
    textarea {
        width: 80%;
        padding: 0.75%;
    }
    
    .arttype {
        width: 35%; 
    }
    
    .art1,
    .artp6 {
        display: none;
    }

    .art2 {
<<<<<<< HEAD
        width: 50%;
    }

    .art3 {
        width: 35%;
    }
    
    .artp2 {
        width: 43%;
=======
        width: 54%;
    }

    .art3 {
        width: 38%;
    }
    
    .artp2 {
        width: 45.4%;
>>>>>>> master
    }
    
    .artp5 {
        width: 100%;
    }
    
    .art4,
    .artp1 {
        display: block;
        width: 100%;
    }
    
    .media {
        width: 40px;
    }
 
}

@media only screen and (max-width: 360px) {
         
    nav {
        font-size: 80%;
        margin: 2%;
        padding: 2%;
        width: 80px;
    }
    
    nav a {
        display: block;
        text-decoration: none;
    }
    
    .logo {
        width: 55px;
        margin: 1%;
        padding-left: 2%;
    }
    
    input,
    textarea {
        width: 98%;
        padding-top: 1.25%;
        padding-bottom: 1.25%;
    }
    
    .arttype {
        width: 98%; 
    }
    
    .art {
        display: block;
    }
    
    .art2,
    .art3,
    .artp1, 
    .artp2,
    .artp3,
    .artp4 {
        width: 100%;
    }
    
    .artp {
        display: block;
    }
 
}